<nav class="pa3 pa4-ns">
  <a class="link dim black f3 b fl cb-ns" href="https://scottmathson.com/" title="Home">Home</a>
  <div class="tc pb3">
    <a class="link hover-sm-blue dark-gray f6 f5-ns dib mr3" href="https://scottmathson.com/blog" title="Home">Blog</a>
    <a class="link hover-sm-blue dark-gray f6 f5-ns dib mr3" href="https://scottmathson.com/about" title="About">About</a>
    <a class="link hover-sm-blue dark-gray f6 f5-ns dib mr3" href="https://scottmathson.com/portfolio" title="Work">Work</a>
  </div>
</nav>
